<h1>Log In</h1>

<%= bootstrap_form_with(url: sessions_path, method: :post) do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.primary "Log In" %>
<% end %>

<%= button_to "Login with Github", "/auth/github", class: "btn btn-outline-success, mt-3", data: { turbo: false} %>